body {
	background-color: black;
	font-family: Century Gothic;
	font-size: 12pt;
	color: white;
	margin: auto;
}
h1 {
	font-size: 26pt;
	color: white;
}
h2 {
	font-size: 16pt;
	text-align: center;
	text-weigth: bold;
	color: white;
}
h3 {
	font-size: 14pt;
	text-align: justify;
	color: white;
}
h4 {
	font-size: 11pt;
	color: gray;
}
.tabela {
	display: table;
	
}
.imagem {
	display: table-cell;
	float: left;
}
.nome {
	display: table-cell;
	float: left;
	width: 600px;
	margin-top: 50px;
	margin-left: 5px;
}
.contato {
	display: table-cell;
	float: right;
	margin-top: -10px;
}
.esquerda {
	display: table-cell;
	float: left;
	width: 350px;
	margin-left: 20px;
}
.direita {
	display: table-cell;
	float: right;
	margin-left: 40px;
	width: 590px;
	margin-right: 20px;
}
.esq1 {
	display: table-cell;
	float: left;
	width: 100px;
	margin-right: 10px
}
.dir1 {
	display: table-cell;
	float: right;
}
