body {
	background-color: black;
	font-family: Century Gothic;
	font-size: 12pt;
	color: white;
	margin: auto;
}
h1 {
	font-size: 26pt;
	color: white;
}
h2 {
	font-size: 14pt;
	text-align: center;
	color: white;
}
h3 {
	font-size: 12pt;
	text-align: justify;
	color: white;
}
h4 {
	font-size: 11pt;
	color: gray;
}
a {
  color: yellow;
  text-decoration: none;
}
.cabecalho {
	display: table;
	
}
.imagem {
	display: table-cell;
	float: left;
}
.nome {
	display: table-cell;
	float: left;
	width: 600px;
	margin-top: 50px;
	margin-left: 5px;
}
.contato {
	display: table-cell;
	float: right;
	margin-top: -10px;
}
.corpo {
	display: table;
}
.esquerda {
	display: table-cell;
	float: left;
	width: 400px;
	margin-left: 40px;
}
.direita {
	display: table-cell;
	float: right;
	width: 480px;
	margin-left: 60px;
}
